/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Noto+Sans+Chorasmian&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3f4045;
}

/* Setting the font for H1 elements */
h1 {
    font-family: Monomaniac One;
}

/* Setting the fonts for all H2 - H4, text inside the modal and the navigation links */
h2, h3, h4, .modal-body li, #nav li {
    font-family: Noto Sans Chorasmian;
    letter-spacing: 1px;
}

/* For colour transitioning when hovering above an element */
#nav a, .close-modal, .footer-button, .modal-button>button, .social-media i, .get-started, .difficulty-button button {
    transition: color 0.2s;
}

/* For the Logo Section */

header a {
    text-decoration: none;
}

#logo-container {
    display: grid;
    grid-template-columns: auto;
}

#logo-picture img {
    width: 145px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo-heading h1 {
    font-size: 420%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #dddddd;
}

/* For the Navigation Bar */

#nav {
    display: flex; 
    align-items: center; 
    width: 100%;
    justify-content: center;
}

#nav li {
    display: inline-block; 
    padding-top: 20px;
    font-size: 125%;
    margin: 0 20px;
}

#nav a {
    text-decoration: none;
    color: #dddddd;
}

#nav a:hover {
    color: #56aeff;
}

.active {
    border-bottom: 2px solid #56aeff;
}

/* For the Modal */

.modal-button {
    text-align: center;
    margin-top: 50px;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #dddddd;
    margin: auto;
    padding: 0;
    width: 50%;
    border-radius: 15px;
    animation-name: modalanimation;
    animation-duration: 0.6s
}

@keyframes modalanimation {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close-modal {
    color: #3f4045;
    float: right;
    font-size: 190%;
    font-weight: bold;
    padding-right: 10px;
}

.close-modal:hover {
    color: #56aeff;
    cursor: pointer;
}

.modal-heading h2 {
    color: #3f4045;
    font-size: 210%;
    padding: 15px;
    text-align: center;
}

.modal-body {
    padding: 20px 30px;
}

.modal-body ol {
    list-style-position: inside;
    color: #3f4045;
    font-size: 130%;
    float: left;
}

.modal-body li {
    margin-bottom: 12px;
}

.footer-button {
    font-size: 130%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: #3f4045;
    color: #dddddd;
    margin: 15px 0 15px;
    cursor: pointer;
}

.footer-button:hover {
    color: #56aeff;
}

.modal-footer {
    text-align: center;
}

.modal-button>button {
    background-color: #3f4045;
    border: none;
    margin: 20px 0;
    padding: 10px;
    font-size: 90%;
    cursor: pointer;
    color: #dddddd;
}

.modal-button>button:hover {
    color: #56aeff;
}

/* For the Footer Section */

#footer {
    margin: 0 auto;
    height: 50px;
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f4045;
}

.social-media i {
    margin: 5px 30px;
    font-size: 170%;
    color: #dddddd;
}

.social-media i:hover {
    color: #56aeff;
}

/* For the Button that takes the user to the Difficulty Section */

.get-started {
    background-color: #3f4045;
    border: 3px solid #dddddd;
    color: #dddddd;
    padding: 15px 30px;
    font-size: 200%;
    border-radius: 15px;
}

.get-started:hover {
    color: #56aeff;
    border: 3px solid #56aeff;
    cursor: pointer;
}

.align {
    text-align: center;
    margin-top: 60px;
}

/* For Difficulty Section */

.difficulty-lvl>h2 {
    font-size: 210%;
    color: #dddddd;
    text-align: center;
    margin-top: 25px;
    text-decoration: 2px underline #56aeff;
}

.difficulty-button {
    display: grid;
    grid-auto-flow: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.difficulty-button button {
    font-size: 190%;
    background-color: #3f4045;
    color: #dddddd;
    border: none;
}

.difficulty-button button:hover {
    color: #56aeff;
    cursor: pointer;
}

/* For the Quiz Container */

.quiz-container {
    background-color: #dddddd;
    width: 45%;
    margin: 30px auto 0;
    border-radius: 15px;
    padding: 15px 40px;
    display: none;
}

.quiz-content h3 {
    font-size: 180%;
    color: #3f4045;
    padding-bottom: 10px;
    text-align: center;
}

.quiz-content h4 {
    color: #3f4045;
    font-size: 120%;
    text-align: center;
    padding: 7px 0;
    font-style: italic;
}

.button {
    background: #dddddd;
    color: #3f4045;
    font-size: 130%;
    width: 100%;
    border: 3px solid #3f4045;
    padding: 12px;
    margin: 7px 0;
    text-align: center;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover:not([disabled]) {
    background-color: #3f4045;
    color: #ffffff;
}

.button:disabled {
    cursor: not-allowed;
}

.controls>button {
    background: #3f4045;
    color: #dddddd;
    font-size: 130%;
    width: 100%;
    border: 0;
    padding: 12px;
    margin: 20px auto 0;
    border-radius: 35px;
    cursor: pointer;
}

.correct {
    background: #20bf55;
    color: #ffffff;
}

.incorrect {
    background: #d62828;
    color: #ffffff;
}

/* For the 404 Error Page */

.error-msg {
    text-align: center;
    color: #dddddd;
    margin-top: 80px;
}
  
.error-msg h2 {
    font-size: 350%;
}
  
.error-msg h3 {
    font-size: 200%;
    margin-bottom: 30px;
}
  
.error-msg a {
    text-decoration: underline 2px solid #56aeff;
    font-size: 180%;
    color: #dddddd;
}

/* For the Media Queries */

@media screen and (min-width: 280px) {

    .modal-content {
        width: 90%;
        text-align: center;
    }
    
    .modal-container {
        padding-top: 0;
    }

    .quiz-container {
        width: 65%;
    }
}

@media screen and (min-width: 600px) {

    .modal-container {
        padding-top: 70px;
    }

    .quiz-container {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {

    .modal-container {
        padding-top: 120px;
    }

    .modal-content {
        width: 50%;
        text-align: left;
    }

    .quiz-container {
        width: 45%;
    }
}